
.linklineeffect {
   @include linkysquare;
  }
  
.copyright-text {
    color: #ffffff;
}

@media only screen and (max-width: 480px) {
    h5 {
        font-size: medium;
    }
}

.sunsjourneyhoveroutline {
    &::after {
        width: 100%;
        content: '';
        opacity: 0;
        background: $gradients-sunsjourney;
    }
    &:hover {
        &::after {
            opacity: 1;
        }
    }

}



.square, .circle, .line {
    -webkit-animation: 7s crazy infinite;
    animation: 7s crazy infinite;    
  }
  
  @-webkit-keyframes line {
    0% {
      stroke-dasharray:0 600;
      stroke-dashoffset: 10;
    }
    50% {
      stroke-dasharray:600 0;
    }
    
    100% {
      stroke-dasharray:0 600;
      stroke-dashoffset: 10;
    }
  }
  
  @keyframes line {
    0% {
      stroke-dasharray:0 600;
      stroke-dashoffset: 10;
    }
    50% {
      stroke-dasharray:600 0;
    }
    100% {
      stroke-dasharray:0 600; 
      stroke-dashoffset: 10;
    }
  }
  
  @-webkit-keyframes crazy {
    0% {
      stroke-dasharray:0 600;
      stroke-dashoffset: 10;
    }
    
    50% {
      stroke-dasharray:600 0;
    }
    
    70% {
      stroke-dasharray:300 0;
    }
    
    90% {
      stroke-dasharray:0 300;
    }
    
    100% {
      stroke-dasharray:0 600; 
      stroke-dashoffset: 10;
    }
  }
  
  @keyframes crazy {
    0% {
      stroke-dasharray:0 600;
      stroke-dashoffset: 10;
    }
    
    50% {
      stroke-dasharray:600 0;
    }
    
    70% {
      stroke-dasharray:300 0;
    }
    
    90% {
      stroke-dasharray:0 300;
    }
    
    100% {
      stroke-dasharray:0 600; 
      stroke-dashoffset: 10;
    }
  }
  