.text-white, .white-text {
    color: $white !important;
}



.accordion__item .accordion__header h5 {
    font-size: 18px !important;

}

.getapp-btn:hover span, .imLeuE .getapp-btn:hover svg{
    color: $white !important;
}

img.featureimage {
    min-width: 200px;
    min-height: 200px;
}