$colors-urple: #5235DD;
$colors-joy: #2575FC;
$colors-noon: #FFD100;
$colors-fivepm: #FF8C61;
$colors-warningwillrobinson: #AC2285;
$colors-darkknight: #190134;
$colors-gloom: #B3ABBC;
$colors-eliotswhisper: #685879;
$colors-jennysnumber: #2B1E70;
$colors-prince: #32255B;
$colors-bruce: #2B2A36;
$colors-barney: #261F74;
$colors-bing: #7D1F9D;
$dietcolors-dieturple: #6AA2FF;
$dietcolors-dietjoy: #6D51F2;
$grayscales-innocence: #ffffff;
$grayscales-smoothcriminal: #EBEFF7;
$grayscales-partlysunny: #EAEAEA;
$grayscales-dadada: #DDDDDD;
$grayscales-gloomy: #DBDBDB;
$grayscales-partlycloudy: #C4C4C4;
$grayscales-prozac: #666666;
$grayscales-trifecta: #333333;
$grayscales-thunderstorm: #212121;
$grayscales-paintit: #121212;
$gradients-dietrhymeswithpurple: linear-gradient(270deg, #6AA2FF 0%, #6D51F2 100%);
$gradients-rhymeswithpurple: linear-gradient(270deg, #2575FC 0%, #5235DD 100%);
$gradients-sunsjourney: linear-gradient(90deg, #FF8C61 27.27%, #FFD100 113.18%);
$gradients-darkknightrises: linear-gradient(180deg, #32255B 0%, #2B2A36 100%);
$gradients-grimmace: linear-gradient(88.11deg, #261F74 1.47%, #7D1F9D 119.06%);
$text-colors-default: #190134;
$text-colors-h1: #190134;
$text-colors-h2: #685879;
$text-colors-h3: #B3ABBC;
$text-colors-h4: #190134;
$text-colors-h5: #190134;
$text-colors-h6: #190134;
$text-colors-p: #190134;
$text-colors-a: #5235DD;
$size-scale-sm: 0.8rem;
$size-scale-md: 1rem;
$size-scale-lg: 1.4rem;
$size-scale-xl: 2rem;
$font-sizes-h1: 32px;
$font-sizes-h2: 24px;
$font-sizes-h3: 20px;
$font-sizes-h4: 16px;
$font-sizes-h5: 14px;
$font-sizes-h6: 12px;
$font-sizes-p: 16px;
$font-sizes-small: 14px;
$font-sizes-tiny: 12px;
$font-styles-heading-family: "Audiowide", Impact, sans-serif;
$font-styles-heading-style: normal;
$font-styles-heading-weight: 800;
$font-styles-heading-line-height: 140%;
$font-styles-p-family: "Khand", Impact, sans-serif;
$font-styles-p-style: normal;
$font-styles-p-weight: 400;
$font-styles-p-line-height: 150%;
$font-styles-bold-weight: 700;
$font-styles-text-decoration-line: true;
$shadows-one: inset 0px -1px 0px #EAEAEA;
$shadows-two: 0px 2px 10px rgba(25, 1, 52, 0.12);
$shadows-three: 0px 4px 10px rgba(25, 1, 52, 0.16);
$shadows-four: inset 0px 1px 0px #EAEAEA;
$shadows-five: 0px -2px 10px rgba(25, 1, 52, 0.12);
$shadows-six: 0px -4px 10px rgba(25, 1, 52, 0.16);
$logos-main: './assets/img/logos/main.svg';
$logos-side: './assets/img/logos/side.svg';
$logos-darkmain: './assets/img/logos/darkmain.svg';
$logos-darkside: './assets/img/logos/darkside.svg';
$icons-main: './assets/img/logos/mainicon.svg';
$icons-side: './assets/img/logos/sideicon.svg';
$icons-darkmain: './assets/img/logos/darkmainicon.svg';
$icons-darkside: './assets/img/logos/darksideicon.svg';

$white: #ffffff;
