$colors-urple: #5235DD !global;
$colors-joy: #2575FC !global;
$colors-noon: #FFD100 !global;
$colors-fivepm: #FF8C61 !global;
$colors-warningwillrobinson: #AC2285 !global;
$colors-darkknight: #190134 !global;
$colors-gloom: #B3ABBC !global;
$colors-eliotswhisper: #685879 !global;
$colors-jennysnumber: #2B1E70 !global;
$colors-prince: #32255B !global;
$colors-bruce: #2B2A36 !global;
$colors-barney: #261F74 !global;
$colors-bing: #7D1F9D !global;
$dietcolors-dieturple: #6AA2FF !global;
$dietcolors-dietjoy: #6D51F2 !global;
$grayscales-innocence: #ffffff !global;
$grayscales-smoothcriminal: #EBEFF7 !global;
$grayscales-partlysunny: #EAEAEA !global;
$grayscales-dadada: #DDDDDD !global;
$grayscales-gloomy: #DBDBDB !global;
$grayscales-partlycloudy: #C4C4C4 !global;
$grayscales-prozac: #666666 !global;
$grayscales-trifecta: #333333 !global;
$grayscales-thunderstorm: #212121 !global;
$grayscales-paintit: #121212 !global;
$gradients-dietrhymeswithpurple: linear-gradient(270deg, #6AA2FF 0%, #6D51F2 100%) !global;
$gradients-rhymeswithpurple: linear-gradient(270deg, #2575FC 0%, #5235DD 100%) !global;
$gradients-sunsjourney: linear-gradient(90deg, #FF8C61 27.27%, #FFD100 113.18%) !global;
$gradients-darkknightrises: linear-gradient(180deg, #32255B 0%, #2B2A36 100%) !global;
$gradients-grimmace: linear-gradient(88.11deg, #261F74 1.47%, #7D1F9D 119.06%) !global;
$text-colors-default: #190134 !global;
$text-colors-h1: #190134 !global;
$text-colors-h2: #685879 !global;
$text-colors-h3: #B3ABBC !global;
$text-colors-h4: #190134 !global;
$text-colors-h5: #190134 !global;
$text-colors-h6: #190134 !global;
$text-colors-p: #190134 !global;
$text-colors-a: #5235DD !global;
$size-scale-sm: 0.8rem !global;
$size-scale-md: 1rem !global;
$size-scale-lg: 1.4rem !global;
$size-scale-xl: 2rem !global;
$font-sizes-h1: 32px !global;
$font-sizes-h2: 24px !global;
$font-sizes-h3: 20px !global;
$font-sizes-h4: 16px !global;
$font-sizes-h5: 14px !global;
$font-sizes-h6: 12px !global;
$font-sizes-p: 16px !global;
$font-sizes-small: 14px !global;
$font-sizes-tiny: 12px !global;
$font-styles-heading-family: 'SF Pro Display' !global;
$font-styles-heading-style: normal !global;
$font-styles-heading-weight: 800 !global;
$font-styles-heading-line-height: 140% !global;
$font-styles-p-family: 'SF Pro Display' !global;
$font-styles-p-style: normal !global;
$font-styles-p-weight: 400 !global;
$font-styles-p-line-height: 150% !global;
$font-styles-bold-weight: 700 !global;
$font-styles-text-decoration-line: true !global;
$shadows-one: inset 0px -1px 0px #EAEAEA !global;
$shadows-two: 0px 2px 10px rgba(25, 1, 52, 0.12) !global;
$shadows-three: 0px 4px 10px rgba(25, 1, 52, 0.16) !global;
$shadows-four: inset 0px 1px 0px #EAEAEA !global;
$shadows-five: 0px -2px 10px rgba(25, 1, 52, 0.12) !global;
$shadows-six: 0px -4px 10px rgba(25, 1, 52, 0.16) !global;
$logos-main: './assets/img/logos/main.svg' !global;
$logos-side: './assets/img/logos/side.svg' !global;
$logos-darkmain: './assets/img/logos/darkmain.svg' !global;
$logos-darkside: './assets/img/logos/darkside.svg' !global;
$icons-main: './assets/img/logos/mainicon.svg' !global;
$icons-side: './assets/img/logos/sideicon.svg' !global;
$icons-darkmain: './assets/img/logos/darkmainicon.svg' !global;
$icons-darkside: './assets/img/logos/darksideicon.svg' !global;
